
<div class = 'addroom'>
    <div class = 'createroom'>
        <p>新規ルーム作成</p>
        <%= form_with url: '/create' do |form| %>
            <p>
                <input type="text" class="form-control" placeholder="RoomID" name='roomid'>
            </p>
            <p>
                <input type="text" class="form-control" placeholder="RoomName" name='roomname'>
            </p>
            <p>
                <input type="text" class="form-control" placeholder="Password" name='password'>
            </p>
            <p> 
                <input type="text" class="form-control" placeholder="Confirm Password" name='confirmpassword'>
            </p>
            <button type="submit" class="btn btn-primary">Create Room</button>
        <% end %>
    </div>

    <div class = 'joinroom'>
        <p>既存ルーム入室</p>
        <%= form_with url: '/join' do |form| %>
            <p> 
                <input type="text" class="form-control" placeholder="Room ID" name='roomid'>
            </p>
            <p> 
                <input type="text" class="form-control" placeholder="Password" name='password'>
            </p>
            <button type="submit" class="btn btn-primary">Enter Room</button>
        <% end %>
    </div>
    <a href="/" class="btn btn-secondary" role="button" style = "width:30%;"><-Back</a>
</div>

