    Logged in as <strong><%= current_user.name %></strong>.
    <%= link_to "Settings", edit_user_registration_path %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>

    <% @tmp.each do |room| %>
        <p><%= room.room_name %></p>
    <% end %>